tools/gradletooling/sample/like_coords.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://notstc/coords/v1" xmlns:coord="http://notstc/coords/v1" xmlns:tns="http://notstc/coords/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ivoa.net/vodml/ivoa">

  <xs:import namespace="http://ivoa.net/vodml/ivoa" schemaLocation="IVOA-v1.0.vo-dml.xsd"/>

  <xs:element name="coordsModel" type="tns:coordsModel"/>

  <xs:complexType name="coordsModel">
    <xs:sequence>
      <xs:element name="refs" type="tns:references" minOccurs="0"/>
      <xs:element name="anObject" type="tns:AnObject" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="references">
    <xs:sequence>
      <xs:element name="coordSys" type="tns:CoordSys" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoordSys" abstract="true">
    <xs:sequence/>
    <xs:attribute name="_id" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="AstroCoordSystem">
    <xs:complexContent>
      <xs:extension base="tns:CoordSys">
        <xs:sequence>
          <xs:element name="coordSys" type="tns:PhysicalCoordSys" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PhysicalCoordSys" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:CoordSys">
        <xs:sequence>
          <xs:element name="coordSpace" type="tns:PhysicalCoordSpace" minOccurs="0"/>
          <xs:element name="frame" type="tns:CoordFrame" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PhysicalCoordSpace" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:CoordSpace">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CoordSpace" abstract="true">
    <xs:sequence>
      <xs:element name="axis" type="tns:Axis" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Axis" abstract="true">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContinuousAxis">
    <xs:complexContent>
      <xs:extension base="tns:Axis">
        <xs:sequence>
          <xs:element name="domainMin" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="domainMax" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="cyclic" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BinnedAxis">
    <xs:complexContent>
      <xs:extension base="tns:Axis">
        <xs:sequence>
          <xs:element name="length" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DiscreteSetAxis">
    <xs:complexContent>
      <xs:extension base="tns:Axis">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PixelSpace">
    <xs:complexContent>
      <xs:extension base="tns:CoordSpace">
        <xs:sequence>
          <xs:element name="handedness" type="tns:handedness" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GenericCoordSpace">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSpace">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SphericalCoordSpace">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSpace">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CartesianCoordSpace">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSpace">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CoordFrame" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="GenericFrame">
    <xs:complexContent>
      <xs:extension base="tns:CoordFrame">
        <xs:sequence>
          <xs:element name="refPosition" type="tns:RefLocation"/>
          <xs:element name="planetaryEphem" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RefLocation" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="StdRefLocation">
    <xs:complexContent>
      <xs:extension base="tns:RefLocation">
        <xs:sequence>
          <xs:element name="position" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CustomRefLocation">
    <xs:complexContent>
      <xs:extension base="tns:RefLocation">
        <xs:sequence>
          <xs:element name="epoch" type="xs:string" minOccurs="0"/>
          <xs:element name="position" type="tns:Point"/>
          <xs:element name="velocity" type="tns:Point" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Point" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:Coordinate">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Coordinate" abstract="true">
    <xs:sequence>
      <xs:element name="coordSys" type="xs:IDREF" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BinnedCoordinate">
    <xs:complexContent>
      <xs:extension base="tns:Coordinate">
        <xs:sequence>
          <xs:element name="cval" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PixelIndex">
    <xs:complexContent>
      <xs:extension base="tns:BinnedCoordinate">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PhysicalCoordinate">
    <xs:complexContent>
      <xs:extension base="tns:Coordinate">
        <xs:sequence>
          <xs:element name="cval" type="ns1:RealQuantity"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CartesianPoint">
    <xs:complexContent>
      <xs:extension base="tns:Point">
        <xs:sequence>
          <xs:element name="x" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="y" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="z" type="ns1:RealQuantity" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LonLatPoint">
    <xs:complexContent>
      <xs:extension base="tns:Point">
        <xs:sequence>
          <xs:element name="lon" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="lat" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="dist" type="ns1:RealQuantity" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GenericPoint">
    <xs:complexContent>
      <xs:extension base="tns:Point">
        <xs:sequence>
          <xs:element name="axis1" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="axis2" type="ns1:RealQuantity" minOccurs="0"/>
          <xs:element name="axis3" type="ns1:RealQuantity" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimeStamp" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:Coordinate">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimeOffset">
    <xs:complexContent>
      <xs:extension base="tns:TimeStamp">
        <xs:sequence>
          <xs:element name="time" type="ns1:RealQuantity"/>
          <xs:element name="time0" type="tns:TimeInstant"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimeInstant" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:TimeStamp">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JD">
    <xs:complexContent>
      <xs:extension base="tns:TimeInstant">
        <xs:sequence>
          <xs:element name="date" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MJD">
    <xs:complexContent>
      <xs:extension base="tns:TimeInstant">
        <xs:sequence>
          <xs:element name="date" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ISOTime">
    <xs:complexContent>
      <xs:extension base="tns:TimeInstant">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PolCoordinate" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:Coordinate">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PolState">
    <xs:complexContent>
      <xs:extension base="tns:PolCoordinate">
        <xs:sequence>
          <xs:element name="cval" type="tns:polStateEnum"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SpaceFrame">
    <xs:complexContent>
      <xs:extension base="tns:CoordFrame">
        <xs:sequence>
          <xs:element name="refPosition" type="tns:RefLocation"/>
          <xs:element name="spaceRefFrame" type="xs:string"/>
          <xs:element name="equinox" type="xs:string" minOccurs="0"/>
          <xs:element name="planetaryEphem" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimeFrame">
    <xs:complexContent>
      <xs:extension base="tns:CoordFrame">
        <xs:sequence>
          <xs:element name="refPosition" type="tns:RefLocation"/>
          <xs:element name="timescale" type="xs:string"/>
          <xs:element name="refDirection" type="tns:RefLocation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GenericSys">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSys">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SpaceSys">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSys">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimeSys">
    <xs:complexContent>
      <xs:extension base="tns:PhysicalCoordSys">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PixelCoordSystem">
    <xs:complexContent>
      <xs:extension base="tns:CoordSys">
        <xs:sequence>
          <xs:element name="pixelSpace" type="tns:PixelSpace"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnObject">
    <xs:sequence>
      <xs:element name="position" type="tns:LonLatPoint"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="handedness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="polStateEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="I"/>
      <xs:enumeration value="Q"/>
      <xs:enumeration value="U"/>
      <xs:enumeration value="V"/>
      <xs:enumeration value="RR"/>
      <xs:enumeration value="LL"/>
      <xs:enumeration value="RL"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="XX"/>
      <xs:enumeration value="YY"/>
      <xs:enumeration value="XY"/>
      <xs:enumeration value="YX"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PP"/>
      <xs:enumeration value="PA"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

