models/sample/sample/vo-dml/Sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:vo-dml="http://www.ivoa.net/xml/VODML/v1"
            xmlns:vodml-base="http://www.ivoa.net/xml/vo-dml/xsd/base/v0.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sample="http://ivoa.net/dm/models/vo-dml/xsd/sample/sample"
            xmlns:ivoa="http://ivoa.net/dm/models/vo-dml/xsd/ivoa"
            xmlns:filter="http://ivoa.net/dm/models/vo-dml/xsd/sample/filter"
            targetNamespace="http://ivoa.net/dm/models/vo-dml/xsd/sample/sample">
   <xsd:import namespace="http://www.ivoa.net/xml/vo-dml/xsd/base/v0.1"
               schemaLocation="http://volute.g-vo.org/svn/trunk/projects/dm/vo-dml/xsd/vodml-base.xsd"/>
   <xsd:import namespace="http://ivoa.net/dm/models/vo-dml/xsd/ivoa"
               schemaLocation="http://volute.g-vo.org/svn/trunk/projects/dm/vo-dml/models/ivoa/vo-dml/IVOA.xsd"/>
   <xsd:import namespace="http://ivoa.net/dm/models/vo-dml/xsd/sample/filter"
               schemaLocation="http://volute.g-vo.org/svn/trunk/projects/dm/vo-dml/models/sample/filter/vo-dml/Filter.xsd"/>
   <xsd:complexType name="catalog.AbstractSource" abstract="true">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.AbstractSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.AstroObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AbstractSource.name</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AbstractSource.description</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="position" type="sample:catalog.SkyCoordinate" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AbstractSource.position</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="positionError" type="sample:catalog.SkyError" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AbstractSource.positionError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classification" type="sample:catalog.SourceClassification" minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AbstractSource.classification</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="luminosity" type="sample:catalog.LuminosityMeasurement" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.AstroObject" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Generic base class for all astronomical objects.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.AstroObject</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="vodml-base:VODMLObject">
            <xsd:sequence>
               <xsd:element name="label" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AstroObject.label</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.LuminosityMeasurement">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.LuminosityMeasurement</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="vodml-base:VODMLObject">
            <xsd:sequence>
               <xsd:element name="value" type="ivoa:RealQuantity" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.LuminosityMeasurement.value</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="error" type="ivoa:RealQuantity" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.LuminosityMeasurement.error</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.LuminosityMeasurement.description</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="type" type="sample:catalog.LuminosityType" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.LuminosityMeasurement.type</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="filter" type="vodml-base:VODMLReference" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.LuminosityMeasurement.filter</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.SDSSSource">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.SDSSSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.SkyCoordinateFrame">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.SkyCoordinateFrame</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="vodml-base:VODMLObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.SkyCoordinateFrame.name</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="documentURI" type="xsd:anyURI" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.SkyCoordinateFrame.documentURI</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="equinox" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.SkyCoordinateFrame.equinox</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="system" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.SkyCoordinateFrame.system</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.Source">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.Source</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.TwoMassSource">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.TwoMassSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.AlignedEllipse">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.AlignedEllipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="longError" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AlignedEllipse.longError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="latError" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.AlignedEllipse.latError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.CircleError">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.CircleError</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="radius" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.CircleError.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.GenericEllipse">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.GenericEllipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="sample:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="major" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>major axis of error ellipse</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.GenericEllipse.major</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="minor" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.GenericEllipse.minor</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pa" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>Position angle of error ellipse in coordinate system of position.</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>sample:catalog.GenericEllipse.pa</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="catalog.SkyCoordinate">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.SkyCoordinate</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="longitude" type="ivoa:RealQuantity" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The longitude part of this position in units of degrees.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SkyCoordinate.longitude</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="latitude" type="ivoa:RealQuantity" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The latitude part of this position in units of degrees.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SkyCoordinate.latitude</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="frame" type="vodml-base:VODMLReference" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SkyCoordinate.frame</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="catalog.SkyError" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Error of a position on the sky.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.SkyError</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>

   <xsd:simpleType name="catalog.LuminosityType">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.LuminosityType</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="magnitude">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.LuminosityType.magnitude</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="flux">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.LuminosityType.flux</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="catalog.SourceClassification">
      <xsd:annotation>
         <xsd:appinfo>
            <vodml-ref>sample:catalog.SourceClassification</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="star">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SourceClassification.star</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="galaxy">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SourceClassification.galaxy</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AGN">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SourceClassification.AGN</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="planet">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SourceClassification.planet</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="unknown">
            <xsd:annotation>
               <xsd:appinfo>
                  <vodml-ref>sample:catalog.SourceClassification.unknown</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>